/* Importa a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Define estilos gerais para todos os elementos */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* Aplica a fonte Roboto a todos os elementos */
}

/* Define estilos para parágrafos */
p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
}

/* Define estilos para o cabeçalho */
header {
    padding: 30px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Define estilos para a lista de navegação no cabeçalho */
header ul, li, a {
    display: flex;
    gap: 16px;
    text-decoration: none;
}

/* Define estilos para os links de navegação no cabeçalho */
header a {
    font-size: 26px;
    font-weight: bold;
    color: white;
}

/* Define estilos para os links de navegação no cabeçalho */
header a {
    color: white;
    font-size: 16px;
}

/* Define estilos para títulos de nível 3 */
h3 {
    padding: 20px;
    text-align: center;
    font-size: 26px;
}

/* Define estilos para a seção principal */
section {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%; /* Largura da seção */
    margin: 0 auto; /* Centraliza a seção */
}

/* Define estilos para os artigos */
article {
    padding: 20px;
    flex-grow: 1;
    width: 270px; /* Largura dos artigos */
    max-width: 600px; /* Largura máxima dos artigos */
}

/* Define estilos para imagens */
img {
    width: 100%;
    height: auto;
    max-width: 600px; /* Largura máxima das imagens */
}

/* Define estilos para telas menores que 800px */
@media (max-width: 799px) {
    header {
        display: grid;
        grid-template-columns: auto 1fr; /* A logo ocupa o tamanho necessário e o menu ocupa o restante do espaço */
        align-items: center; /* Alinha os itens verticalmente */
    }

    header a {
        font-size: 40px; /* Aumenta o tamanho da fonte do logo */
        margin-left: 40px; /* Espaçamento maior à esquerda */
    }

    header nav a {
        margin-left: 0px; /* Remove margem à esquerda dos links de navegação */
        font-size: 20px; /* Tamanho da fonte dos links de navegação */
    }

    header nav li {
        background-color: rgb(158, 158, 158); /* Fundo para itens do menu */
        width: 100%; /* Largura dos itens do menu */
    }

    nav {
        justify-self: end; /* Alinha o menu à direita */
    }

    nav ul {
        display: flex;
        flex-direction: column; /* Exibe itens do menu em coluna */
        align-items: flex-start; /* Alinha os itens do menu à esquerda */
    }

    nav ul li {
        text-align: start; /* Alinhamento do texto dos itens do menu */
    }
}

/* Define estilos para telas menores que 600px */
@media (max-width: 600px) {
    article {
        max-width: 100%; /* Define a largura máxima dos artigos como 100% */
    }

    section {
        width: 90%; /* Define a largura da seção como 90% */
    }
}
